@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: #f9fafb;
}
.primary {
  color: rgba(16, 24, 40, 1);
}
.secondary {
  color: #7f56d9;
}
.third {
  color: #f9f5ff;
}
.btn-custom {
  background-color: #7f56d9;
  padding: 10px 16px 10px 16px;
  border-radius: 8px;
  color: #ffff;
}
.btn-custom2 {
  background-color: #7f56d9;
  padding: 16px 28px 16px 28px;
  border-radius: 8px;
  color: #ffff;
}
.btn-custom3 {
  background-color: #f9f5ff;
  padding: 16px 28px 16px 28px;
  border-radius: 8px;
  color: #7f56d9;
}
